@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');


:root{
    --primary-font :  'IBM Plex Sans', sans-serif;
    --bg-light : #F2F2F2;
    --bg-grey : #EDEEF0;
    --bg-grey-hover : #e2e3e5;
}


/**************** GLOBAL STYLES START **************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    color: #2E2E2E;
}
html{
    scroll-behavior: smooth;
}


/**************** HEADER SECTION *****************************/
.header-large{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    position: fixed;
    top: 0;
    left:0;
    z-index: 100;
}
.header-large .search-bar{
    background: var(--bg-light);
    padding: 0.5rem 1rem;
    border-radius: 5rem;
}
.header-large #search-input{
    border: none;
    outline: none;
    width: max-content;
    background: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    width: 17rem;
    margin-left: 1rem;
}
.header-large #btn-create-account{
    text-decoration: none;
    color: #2E2E2E;
    line-height: 20.8px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.header-large #btn-create-account strong{
    font-weight: 700;
    margin-right: 1rem;
}
.header-mobile{
    display: none;
}


/**************** LANDING SECTION START *************************/
.landing-section{
    background: url("/public/landing-image.png");
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset ;
    display: flex;
    position: relative;
    margin-top: 4rem;
}
.landing-section:after{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
    position: absolute;
    left: 0;
    top: 0;
}
.landing-wrapper{
    z-index: 1;
    display: flex;
}
.landing-wrapper .text-wrapper{
    margin-top: auto;
    margin-bottom: 4rem;
}
.landing-heading{
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
}
.landing-subtext{
    color: #fff;
    font-size: 18px;
    line-height: 23px;
}

/****************POST SECTION ***************************/
.post-section{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "nav nav"
                         "post location";
    position: relative;
}
.post-section nav{
    grid-area: nav;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem 0;
    border-bottom: 1px solid var(--bg-grey);
    position: sticky;
    top: 4rem;
}
.post-section nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.post-section nav ul li{
    font-size: 16px;
    line-height: 21px;
    position: relative;
    display: flex;
    cursor: pointer;
}
.post-section nav ul li:not(:first-child){
    margin-left: 1rem;
}
.post-section .enabled-nav-link:after{
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    background: #2E2E2E;
    bottom: -1rem;

}

.post-section .post-btn{
    background: var(--bg-grey);
    margin-right: 1rem;
    transition: all 0.2s ease;
}
.post-section .post-btn:hover{
    background: var(--bg-grey-hover);
}
.post-btn img{
    margin-left: 1rem;
}
.post-section .btn{
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
}

.location-container{
    grid-area: location;
    margin-top: 2rem;
}
.location-wrapper{
    position: sticky;
    top: 10rem;
}
.location-input-wrapper{
    display: flex;
    border-bottom: 1px solid #2E2E2E;
    padding: 0.5rem 0;
    align-items: center;
}
.location-input-wrapper input{
    border: none;
    outline: none;
    margin-left: 1rem;
    font-size: 14px;
    line-height: 18px;
}
.location-input-wrapper img{
    height:100%;
}
.location-input-wrapper .edit-icon{
    margin-left: auto;
}
.warning-text{
    display: flex;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.5;
    margin-top: 2rem;
    width: 98%;
}
.warning-text img{
    height: 100%;
    margin-top: 3px;
    margin-right: 1rem;
}

.post-field{
    grid-area: post;
}

.post-card{
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    max-width: 780px;
    margin: 1rem 0;
}
.post-card .image-container{
    height: 14rem;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat;
}
.post-card .card-body{
    display: flex;
    flex-direction: column;
}
.post-card .card-title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.post-card .card-title{
    font-weight: 600;
    font-size: 22px;
    line-height: 134.17%;
}

.profile-and-share{
    display: flex;
    justify-content: space-between;
}
.share-and-views{
    display: flex;
    align-items: center;
}
.views{
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-left: 0.5rem;
}
.share-and-views .btn{
    background: var(--bg-grey);
    transition: all 0.2s ease;
    margin-left: 2rem;
}
.share-and-views .btn:hover{
    background: var(--bg-grey-hover);
}
.post-type{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}
.card-description{
    font-size: 19px;
    line-height: 134.17%;
    color: #5C5C5C;
}

/**************** MEDIA QUERIES *************************/
@media only screen and (max-width: 810px) {
    .landing-section{
        background: url('/public/landing image mobile.png');
        background-size: cover;
        margin: 0;
        height: 20rem;
    }
    .header-large{
        display: none;
    }
    .header-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        position: fixed;
        padding-top: 1rem;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .header-mobile btn{
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
}
@media only screen and (max-width: 510px){
    .landing-section{
        height: 15rem;
    }
    .landing-wrapper .text-wrapper{
        margin-bottom: 2rem;
    }
    .landing-heading{
        font-size: 17px;
        line-height: 22px;
    }
    .landing-subtext{
        font-size: 12px;
        line-height: 16px;
    }
}
/**************** MEDIA QUERIES END ************************* */