@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');


:root{
    --primary-font :  'IBM Plex Sans', sans-serif;
    --bg-light : #F2F2F2;
    --bg-grey : #EDEEF0;
    --bg-grey-hover : #e2e3e5;
}


/**************** GLOBAL STYLES START **************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
    color: #2E2E2E;
}
html{
    scroll-behavior: smooth;
}


/**************** HEADER SECTION *****************************/
.header-large{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    position: fixed;
    top: 0;
    left:0;
    z-index: 100;
}
.header-large .search-bar{
    background: var(--bg-light);
    padding: 0.5rem 1rem;
    border-radius: 5rem;
}
.header-large #search-input{
    border: none;
    outline: none;
    width: max-content;
    background: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    width: 17rem;
    margin-left: 1rem;
}
.header-large #btn-create-account{
    text-decoration: none;
    color: #2E2E2E;
    line-height: 20.8px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.header-large #btn-create-account strong{
    font-weight: 700;
    margin-right: 1rem;
}
.header-mobile{
    display: none;
}
.profile-on-header{
    text-decoration: none;
    display: none;
}
.profile-on-header span{
    margin: 0 0.5rem;
}


/**************** LANDING SECTION START *************************/
.landing-section{
    background: url("public/landing-image.png");
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset ;
    display: flex;
    position: relative;
    margin-top: 4rem;
}
.landing-section:after{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
    position: absolute;
    left: 0;
    top: 0;
}
.landing-wrapper{
    z-index: 1;
    display: flex;
}
.landing-wrapper .text-wrapper{
    margin-top: auto;
    margin-bottom: 4rem;
}
.landing-heading{
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
}
.landing-subtext{
    color: #fff;
    font-size: 18px;
    line-height: 23px;
}

/****************POST SECTION ***************************/

.post-section{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "nav nav"
                         "post location";
    position: relative;
    grid-gap: 2rem;
}
.post-section nav{
    grid-area: nav;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem 0;
    padding-top: 1rem;
    border-bottom: 1px solid var(--bg-grey);
    position: sticky;
    top: 4rem;
    z-index: 100;
}
.post-section .mobile-nav{
    display: none;
}
.post-section nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.post-section nav ul li{
    font-size: 16px;
    line-height: 21px;
    position: relative;
    display: flex;
    cursor: pointer;
    color: #8A8A8A;
}
.post-section nav ul li:not(:first-child){
    margin-left: 1rem;
}
.post-section .enabled-nav-link{
    color: #000;
}
.post-section .enabled-nav-link:after{
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    background: #2E2E2E;
    bottom: -1rem;
    animation: fill-line 0.5s ease;
}

.post-section .post-btn{
    background: var(--bg-grey);
    margin-right: 1rem;
    transition: all 0.2s ease;
}
.post-section .post-btn:hover{
    background: var(--bg-grey-hover);
}
.post-btn img{
    margin-left: 1rem;
}
.post-section .btn{
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
}

.location-container{
    grid-area: location;
    margin-top: 2rem;
}
.location-wrapper{
    position: sticky;
    top: 10rem;
}
.location-input-wrapper{
    display: flex;
    border-bottom: 1px solid #2E2E2E;
    padding: 0.5rem 0;
    align-items: center;
}
.location-input-wrapper input{
    border: none;
    outline: none;
    margin-left: 1rem;
    font-size: 14px;
    line-height: 18px;
}
.location-input-wrapper img{
    height:100%;
}
.location-input-wrapper .edit-icon{
    margin-left: auto;
}
.warning-text{
    display: flex;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.5;
    margin-top: 2rem;
    width: 98%;
}
.warning-text img{
    height: 100%;
    margin-top: 3px;
    margin-right: 1rem;
}
.recommended-groups-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    position: sticky;
    top: 20rem;
    display: none;
}
.recommended-groups-heading{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
}
.recommended-groups-heading img{
    margin-right: 0.5rem;
}
.recommended-groups-wrapper .groups{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.group-name{
    margin: 0;
    margin-left: 0.4rem;
    font-size: 14px;
    line-height: 18px;
}
.btn-follow-group{
    margin-left: auto;
    background: var(--bg-grey);
    transition: all 0.2s ease;
    font-size: 12px;
    border-radius: 5rem;
}
.btn-follow-group:hover{
    background: var(--bg-grey-hover);
}
.see-more-groups{
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    margin-top: 2rem;
    width: 100%;
    text-align: right;
}
.post-field{
    grid-area: post;
}

.post-card{
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    max-width: 780px;
    margin: 1rem 0;
    overflow: hidden;
}
.post-card .image-container{
    height: 14rem;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat;
}
.post-card .card-body{
    display: flex;
    flex-direction: column;
}
.post-card .card-title-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.post-card .card-title{
    font-weight: 600;
    font-size: 22px;
    line-height: 134.17%;
}

.profile-and-share{
    display: grid;
    grid-template-columns: max-content 5fr 3fr max-content;
    grid-template-areas: "profile name view share";
    align-items: center;
    grid-column-gap: 1rem;
}
.profile{
    grid-area: profile;
    border-radius: 50%;
}
.profile-name{
    grid-area: name;
}
.views-section{
    grid-area: view;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.views{
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-left: 0.5rem;
}
.btn-share{
    grid-area: share;
    background: var(--bg-grey);
    transition: all 0.2s ease;
    display: flex;
}
.btn-share:hover{
    background: var(--bg-grey-hover);
}
.btn-share span{
    display: none;
}
.post-type{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}
.card-description{
    font-size: 19px;
    line-height: 134.17%;
    color: #5C5C5C;
}
.option-btn{
    position: relative;
}
.option-btn:hover{
    background: var(--bg-grey-hover);
}
.option-btn .option-list{
    position: absolute;
    list-style: none;
    background: #fff;
    right: 0;
    width: 10rem;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding-left: 0;
    display: none;
}
.option-list li{
    font-size: 14px;
    line-height: 18px;
    padding: 1rem;
    text-align: left;
}
.option-list li:hover{
    background: var(--bg-grey);
}
/************* Card with button ***********/
.card-date{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
}
.post-card-location{
    margin-left: 2rem;
}
.btn-card-view{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.267);
    margin-bottom: 1rem;
    border-radius: 10px;
}

/*****************Signup form  **************************/
.sign-up-wrapper,
.sign-in-wrapper{
    width:100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
    display: none;
}
.sign-up-form-container,
.sign-in-form-container{
    background: #fff;
    max-width: 800px;
    height: max-content;
    display: grid;
    border-radius: 8px;
    position: relative;
    animation: scale-in 0.3s ease;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "top-text top-text"
                         "sign-up sign-in";
}
.close-form{
    position: absolute;
    right: -1%;
    top: -6%;
    cursor: pointer;
}
.sign-up-top-text,
.sign-in-top-text{
    grid-area: top-text;
    background: #EFFFF4;
    color: #008A45;
    padding: 1rem;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.sign-up-form,
.sign-in-form{
    grid-area: sign-up;
    display: flex;
    flex-direction: column;
    margin: 2rem;

}
.form-heading{
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 1.5rem;
}
.first-and-last-name{
    display: flex;
}
.password-wrapper{
    display: flex;
}
.sign-up-form input,
.sign-in-form input{
    width:100%;
    padding: 1rem;
    outline: none;
    background: #F7F8FA;
    border: 1px solid #D9D9DB;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
}
.password-visibility-icon {
	background: #F7F8FA;
	display: grid;
	place-items: center;
	border: 1px solid #D9D9DB;
	border-left: none;
	padding: 1rem;
	opacity: 0.6;
}
.password-wrapper input{
    border-right: none;
}
.password-visibility-icon img{
    width: 1.5rem;
    cursor: pointer;
}
.sign-up-form button[type="submit"],
.sign-in-form button[type="submit"]{
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;  
    margin: 1.5rem 0;
    border-radius: 5rem;
    padding: 0.6rem;
    width: 100%;
}
.submit-btn-wrapper a{
    display: none;
}
.more-sign-up-option,
.more-sign-in-option{
    border: 0.6px solid #D9D9DB;
    border-radius: 2px;
    font-size: 14px;
    line-height: 16px;
    background: transparent;
    padding: 0.6rem;
    margin: 0.2rem 0;
}
.sign-in-option,
.sign-up-option{
    grid-area: sign-in;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin: 2rem;
}
.sign-in-option .sign-in-para,
.sign-up-para{
    align-self: flex-end;
    font-size: 13px;
    line-height: 17px;
    font-weight: 600;
}
.sign-in-para a,
.sign-up-para a{
    font-size: 14px;
    text-decoration: none;
}
.sign-in-option .terms-and-condition{
    font-size: 11px;
    line-height: 16px;
    text-align: right;
    letter-spacing: -0.008em;
    opacity: 0.6;
}
.forget-password{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.008em;
    width: 100%;
    color: #000;
    text-decoration: none;
    margin:0.5rem 0;
}
.mobile-term-and-conditions{
    display: none;
}
.form-heading img{
    display: none;
}

.edit-btn-mobile{
    display: none;
}

/**************** MEDIA QUERIES *************************/
@media only screen and (max-width: 810px) {
    .landing-section{
        background: url('public/landing image mobile.png');
        background-size: cover;
        margin: 0;
        height: 20rem;
    }
    .header-large{
        display: none;
    }
    .header-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        position: absolute;
        padding-top: 1rem;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
    }
    .header-mobile btn{
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
    .location-container{
        display: none;
    }
    .post-section{
        grid-template-areas: "nav nav"
                             "post post";
    }
    .post-section nav{
        display: none;
    }
    .post-section .mobile-nav{
        display: flex;
        top: 0;
        border: none;
    }
    .post-section .mobile-nav strong{
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.01em;
    }
    .btn-filter{
        background: var(--bg-grey);
        transition: all 0.2s ease;
        font-weight: 500;
        font-size: 13px;
        line-height: 17px;
    }
    .btn-filter img{
        margin-left: 1rem;
    }
    .btn-filter:hover{
        background: var(--bg-grey-hover);
    }
    .post-card .image-container{
        height: 7rem;
    }
    .profile-and-share{
        grid-template-columns: max-content 1fr 1fr;
        grid-template-areas: "profile name share"
                             "profile view share";
    }
    .views-section{
        justify-content: flex-start;
    }
    .btn-share{
        width: max-content;
        justify-self: flex-end;
    }
    .btn-share span{
        margin-left: 1rem;
        display: block;
        font-size: 12px;
    }
    .profile-name{
        font-size: 13px;
        line-height: 17px;
        align-self: flex-end;
    }
    .views{
        font-size: 12px;
        line-height: 16px;
        margin-left: 0;
    }
    .views-icon{
        display: none;
    }
    .card-date{
        font-size: 14px;
        line-height: 18px;
    }
    .sign-in-option, 
    .sign-up-option {
        display: none;
    }
    .sign-up-top-text, 
    .sign-in-top-text {
        display: none;
    }
    .sign-up-form-container, .sign-in-form-container {
        width: 100;
        grid-template-areas: "sign-up sign-up";
    }
    .submit-btn-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .submit-btn-wrapper a{
        display: block;
        font-weight: 500;
        font-size: 13px;
        line-height: 17px;
        color: #000;
    }
    .sign-up-form button[type="submit"],
    .sign-in-form button[type="submit"]{
        width: max-content;
        padding: 0.5rem 1.5rem;
    }
    .mobile-term-and-conditions{
        display: block;
        margin-top: 0.5rem;
        font-size: 11px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: -0.008em;
        text-align: center;

    }
    .edit-btn-mobile{
        background: linear-gradient(180deg, #FF5C5C 0%, #F0568A 100%);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
}
@media only screen and (max-width: 510px){
    .landing-section{
        height: 15rem;
    }
    .landing-wrapper .text-wrapper{
        margin-bottom: 2rem;
    }
    .landing-heading{
        font-size: 17px;
        line-height: 22px;
    }
    .landing-subtext{
        font-size: 12px;
        line-height: 16px;
    }
    .post-section{
        padding: 0;
    }
    .post-section .mobile-nav{
        padding: 0.5rem 1rem;
    }
    .post-type,
    .card-description{
        font-size: 14px;
    }
    .post-card .card-title{
        font-size: 16px;
    }
    .card-date{
        font-size: 12px;
        margin: 0.5rem 0;
    }
    .btn-card-view{
        font-weight: 600;
        font-size: 13px;
        border-radius: 8px;
    }
    .sign-up-form-container, 
    .sign-in-form-container {
        width: 100%;
        align-self: flex-end;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        animation-name: move-to-top;
    }
    .sign-up-form, 
    .sign-in-form {
        margin: 1rem;
    }
    .sign-up-form input, 
    .sign-in-form input {
        font-size: 13px;
    }
    .sign-up-form button[type="submit"], 
    .sign-in-form button[type="submit"] {
        font-size: 13px;
    }
    .sign-up-form button[type="submit"], 
    .sign-in-form button[type="submit"] {
        font-size: 13px;
    }
    .form-heading {
        font-size: 18px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .form-heading img{
        width: 1.5rem;
        height: 1.5rem;
        display: block;
    }
    .close-form{
        display: none;
    }
}
/**************** MEDIA QUERIES END ************************* */

/**************** Animations ********************************/
@keyframes scale-in {
    0%{
        transform:scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes move-to-top {
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 0;
    }
}
@keyframes fill-line {
    0%{
        width:0;
    }
    100%{
        width: 100%;
    }
}